
//colors
$orange:#ffbf00; 

$white-orange:rgb(249, 200, 104);

$yellow: #fef8e4;

$grey:#eeeeee;



//fonts
@font-face {
    font-family: "my-font";
    src: url(../../FONTS/fonts/font-farsi-web/font-farsi-web/font/BTitrBold.woff);}

@font-face {
    font-family: "b-nazanin";
    src: url(../../FONTS/fonts/font-farsi-web/font-farsi-web/font/BNazanin.woff);}

@font-face {
    font-family: "yekanWeb";
    src: url(../../FONTS/fonts/font-farsi-web/font-farsi-web/font/BYekanWeb.woff);}


//general mixins
@mixin btn-style{background-color: $orange;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 #15151578;}


@mixin card-row{background-color: $white-orange;
        width: 18rem;
        height: 18rem;
    }

        
@mixin alert{background-color: $grey;
    padding: 5;
    text-align: center;}


//body
*{margin: 0;
    padding: 0;
    font-family: "yekanWeb";}

    


