.accordion{
    & div{
        & span{
            text-align: right;
            // background-color: $grey;
            display: block;
            width: 100%;
            cursor: pointer;
            padding: 5px;

        }
    }
}

//accordion
.accordion1{
    & div{
        & span{
            background-color: $grey;
            display: block;
            width: 100%;
            cursor: pointer;
            padding: 15px;
            font-size: 20px;

            &::after{
                // unicode plus search
                content: "\002b";
                float: left;
                margin-left: 10px;
            }

            &:hover{
                background-color: $white-orange;
            }
        }
        & div{
            padding: 13px;
            border-right: 1px solid $grey;
            border-left: 1px solid $grey;
            display: none;
        }
    }
}

.accordion1 > div.show >div{
    display: block;
}