@import "./base";
@import "./js";


//General
.alert{@include alert();}


.section{
    border: 1px solid #CCC !important;}

    
.btn-war{@include btn-style;

    &:hover{
        background-color: rgb(249, 200, 104);
        transition: .5s;}}


// top logo
.header-bg{background-color:$orange}


//dropdown
.dropdownmenu{
    & li{

        & :active{
            background-color: $orange;
        }
}}


// start navbar
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='50'height='50' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round'stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



// class row
.bg-row{background-color: $grey;}


.card-row{@include card-row();

    &:hover{
        box-shadow: 0 5px 15px 5px rgb(139, 139, 139);
    }
}



// start contact
.col-contact{
    background-color: $yellow;}



// start news
.card-p{
    height: 270px;
}

.card-text-mor{
    text-decoration: none;}

    
.card-title{
    font-family: "b-nazanin";

.card-body{
    height: 360px;}

    &-span{
    font-family: "b-nazanin";}}



//back to top
.back-to-top{
    display: flex;
    position: fixed;
    right: 25px;
    bottom: 25px;
    opacity: 0;
    transition: opacity .8s;
}

.back-to-top.show{
    opacity: .8;
}


// footer
.before-x{
    &::before{content: url(../../images/telephone1.png);
        margin-left: 20px;}}
    
    
    .before-z{
    &::before{content: url(../../images/telegram1.png);
        margin-left: 20px;}}
    
    .before-w{
    &::before{content: url(../../images/instagram1.png);
        margin-left: 20px;}}
    


// -------------------------------------------------------------------------------
//login page
.container-f{
    width: 100%;
    height: 120vh;
    position: relative;
    background: linear-gradient(rgba(43, 43, 43, 0.7),rgba(38, 38, 38, 0.7)),url(../../images/background1.jpg) center no-repeat;
    background-size: cover;
    font-family: "b-nazanin";
}


.formbox{
    position: absolute;
    transform: translate(50% , -75%);
    padding: 100px;
    top: 50%;
    right: 50%;
    text-align: center;
    width: 510px;
    height: auto;
    background-color: rgb(255, 254, 249);
    border-radius: 6%;
    border: 2px solid $orange;

        & h1{
            font-family: "my-font";
        }

        & input{
            border: 1px solid $orange;
            border-radius: 40px;
            color: black;
            padding: 10px 18px;
            width: 230px;
            display: block;
            margin: 15px auto;
            text-align: center;
            background-color: rgba(255, 255, 255, 0);
            transition: 0.25s;

            &:hover{
                width: 290px;
                transition: 0.25s;
                background-color: #fbf2d3;
            }

        }

        & button{
            border: 1px solid rgb(125, 236, 100);
            border-radius: 40px;
            color: black;
            padding: 10px 18px;
            width: 150px;
            display: block;
            margin: 15px auto;
            text-align: center;
            background-color: rgba(125, 236, 100, 0.798);
            transition: 0.25s;

            &:hover{
                background-color: rgba(125, 236, 100, 0.5);
                width: 180px;
                transition: 0.25s;
            }

        }
}