// colors(
    $orange:rgb(231, 139, 35); // )


// mixin
@mixin btn-style{background-color: $orange;
    border-radius: 5px;
    box-shadow: 0 1px 4px 1px;}



body{margin: 0;
    padding: 0;}


.btn-war{@include btn-style();}