@import "./variables";
@import "./base";



.header-bg{background-color:$orange}
 

.btn-war{@include btn-style();
&:hover{background-color: rgb(249, 200, 104);}}



.bg-row{background-color: $grey;}


.card-row{@include card-row();}


.alert{@include alert();}


.before-x{
&::before{content: url(../../images/telephone1.png);
    margin-left: 20px;}}


.before-z{
&::before{content: url(../../images/telegram1.png);
    margin-left: 20px;}}

.before-w{
&::before{content: url(../../images/instagram1.png);
    margin-left: 20px;}}


.card-text-mor{
    text-decoration: none;}

    
.card-title{
    font-family: "b-nazanin";

    .card-body{
        height: 360px;
    }

    &-span{
    font-family: "b-nazanin";

    }
}
